@app.route("/reset_password/<token>", methods=["GET", "POST"])
def reset_password(token):
    if request.method == "POST":
        email = request.form.get("email")
        new_pw = request.form.get("new_password")
        user = User.query.filter_by(email=email).first()

        if user:
            user.password_hash = generate_password_hash(new_pw)
            db.session.commit()
            flash("Password reset successful! You can now log in.", "success")
            return redirect(url_for("login"))
        else:
            flash("Invalid email address.", "danger")

    return render_template("reset_password.html", token=token)
